Software-Engineering-COMP-7082/proposal-winter-7082-2026dbgroup1
Software-Engineering-COMP-7082/features-and-scenarios-2026dbgroup1
Software-Engineering-COMP-7082/pitch-presentation-7082-winter-2026dbgroup1

